<template>
<div>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">

                <div class="form-group">
                    <span class="text-danger" v-show="errors.length > 0">{{ errors.join(',') }}</span>
                </div>

                <div class="form-group">
                  <label class="label">Username</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" v-model="inputs.username">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="*********" v-model="inputs.password">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block" v-on:click='login'>Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Keep me signed in
                    </label>
                  </div>
                  <a class="text-small forgot-password text-black">Forgot Password</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block g-login">
                    <img class="mr-3" alt="">Log in with Google</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Not a member ?</span>
                  <a class="text-black text-small">Create new account</a>
                </div>

            </div>
            <ul class="auth-footer">
              <li>
                <a>Conditions</a>
              </li>
              <li>
                <a>Help</a>
              </li>
              <li>
                <a>Terms</a>
              </li>
            </ul>
            <p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',
  data() {
    return {
      errors: [],
      inputs: {username: 'admin', password: 'admin'}
    }
  },
  methods: {

    login() {
      let _s = this;
        _s.errors = [];

      axios.post(this.appconfig.apiBaseurl + '/oauth/token', {

        'grant_type': 'password',
        'client_id': this.appconfig.client_id,
        'client_secret': this.appconfig.client_secret,
        'scope': '',
        ...this.inputs

      }).then( ({data}) => {
          _s.$store.dispatch('setToken', data.access_token);
          _s.$router.push({ name: 'Dashboard' });
      }).catch(e => {
          _s.errors.push(e.response.data.message);
      });
    }

  }
}
</script>

<style scoped>
.auth.theme-one .auto-form-wrapper .form-group .input-group {
    height: 38px;
}
</style>
