<template>
  <div class='app'>
    <router-view></router-view>
  </div>
</template>

<script>
import './vendors/perfect-scrollbar/css/perfect-scrollbar.css';
import './vendors/mdi/css/materialdesignicons.min.css';
import './scss/style.scss';
import 'bootstrap'

export default {
  name: 'Layout'
}
</script>