<template>
  <div class="container-scroller">
    <partials-navbar></partials-navbar>
    <div class="container-fluid page-body-wrapper">
      <partials-sidebar></partials-sidebar>
      <div class="main-panel">
        <router-view></router-view>
        <partials-footer></partials-footer>
      </div>
    </div>
  </div>
</template>

<script>
import './vendors/perfect-scrollbar/css/perfect-scrollbar.css'
import './vendors/mdi/css/materialdesignicons.min.css'
import './scss/style.scss'
import 'bootstrap'

import partialsNavbar from './partials/navbar.vue'
import partialsSidebar from './partials/sidebar.vue'
import partialsFooter from './partials/footer.vue'
export default {
  name: 'layout',
  components: { partialsNavbar, partialsSidebar, partialsFooter }
}
</script>