<template>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">User Management</h4>
                    <p class="card-description">
                        <router-link to='/usermgmt/new'>
                            <button type="button" class="btn btn-success btn-rounded btn-fw"> Add new user </button>
                        </router-link>
                        <button type="button" class="btn btn-danger btn-rounded btn-fw" v-if='CheckedIds.length > 0' v-on:click='delselected'> delete selected </button>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" v-model='checkallval' v-on:change='checkall'>&nbsp;
                                        <i class="input-helper"></i></label>
                                    </div>
                                </th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Postcode</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="row in tabledata" :key="row.id">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"  v-model='row.checkbox'>&nbsp;
                                        <i class="input-helper"></i></label>
                                    </div>
                                </td>
                                <td>{{ row.username }}</td>
                                <td>{{ row.firstname }} {{ row.lastname }}</td>
                                <td>{{ row.email }}</td>
                                <td>{{ row.contact }}</td>
                                <td>{{ row.address }}</td>
                                <td>{{ row.postcode }}</td>
                                <td>
                                    <router-link :to='"/usermgmt/"+row.id'>
                                        <button type="button" class="btn btn-secondary btn-rounded btn-md">edit</button>
                                    </router-link>
                                    <button type="button" class="btn btn-danger btn-rounded btn-md" v-on:click='del(row.id)'>delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import http from '@/utils/http.js'

export default {
    data() {
        return {
            tabledata: [],
            checkallval: false
        }
    },

    mounted() {
        this.load();
    },
    computed: {
        CheckedIds() {
            return this.tabledata.reduce((p,c) => {
                if (c.hasOwnProperty('checkbox') && c.checkbox === true) {
                    p.push(c.id);
                }
                return p;
            }, []);
        }
    },

    methods: {
        load() {
            let _s = this;
            http.get('/api/user').then(data => {
                _s.tabledata = data.data;
            });
        },
        del(id) {
            let _s = this;
            http.delete('/api/user/' + id).then(data => {
                if (data.data.hasOwnProperty('success')) {
                    _s.load();
                }
            });
        },
        delselected() {
            let _s = this;
            http.post('/api/user/deletes', {ids: this.CheckedIds}).then(data => {
                if (data.data.hasOwnProperty('success')) {
                    _s.load();
                }
            });
        },
        checkall() {
            this.tabledata.forEach(v => {
                v.checkbox = this.checkallval;
            })
        }


    }
}
</script>
