<template>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-md-6 d-flex align-items-stretch grid-margin">
              <div class="row flex-grow">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">User Details</h4>

                        <div class="form-group">
                          <label class="form-control-label">Username</label>
                          <input class="form-control" placeholder="Enter username" v-model="inputs.username">
                          <small v-if='inputerrors.username' class="form-text text-danger">{{ inputerrors.username.join(',') }}</small>
                        </div>
                        <div class="form-group" v-if="isNew">
                          <label>Password</label>
                          <input type='password' class="form-control" placeholder="Enter password" v-model="inputs.password">
                          <small v-if='inputerrors.password' class="form-text text-danger">{{ inputerrors.password.join(',') }}</small>
                        </div>
                        <div class="form-group" v-if="isNew">
                          <label>Confirm Password</label>
                          <input type='password' class="form-control" placeholder="Enter confirm password" v-model="inputs.confirm_password">
                        </div>
                        <div class="form-group">
                          <label>Firstname</label>
                          <input class="form-control" placeholder="Enter firstname" v-model="inputs.firstname">
                          <small v-if='inputerrors.firstname' class="form-text text-danger">{{ inputerrors.firstname.join(',') }}</small>
                        </div>
                        <div class="form-group">
                          <label>Lastname</label>
                          <input class="form-control" placeholder="Enter lastname" v-model="inputs.lastname">
                          <small v-if='inputerrors.lastname' class="form-text text-danger">{{ inputerrors.lastname.join(',') }}</small>
                        </div>
                        <div class="form-group">
                          <label>Email</label>
                          <input class="form-control" placeholder="Enter email" v-model="inputs.email">
                          <small v-if='inputerrors.email' class="form-text text-danger">{{ inputerrors.email.join(',') }}</small>
                        </div>
                        <div class="form-group">
                          <label>Contact</label>
                          <input class="form-control" placeholder="Enter contact" v-model="inputs.contact">
                        </div>
                        <div class="form-group">
                          <label>Address</label>
                          <input class="form-control" placeholder="Enter address" v-model="inputs.address">
                        </div>
                        <div class="form-group">
                          <label>Postcode</label>
                          <input class="form-control" placeholder="Enter postcode" v-model="inputs.postcode">
                        </div>
                        <div v-if="isNew">
                          <button class="btn btn-success mr-2" v-on:click="submit">Submit</button>
                          <button class="btn btn-light" v-on:click="cancel">Cancel</button>
                        </div>

                    </div>
                  </div>
                </div>

                <div class="col-12" v-if="!isNew">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Change Password</h4>

                        <div class="form-group">
                          <label>Password</label>
                          <input type='password' class="form-control" placeholder="Enter password" v-model="inputs.password">
                          <small v-if='inputerrors.password' class="form-text text-danger">{{ inputerrors.password.join(',') }}</small>
                        </div>
                        <div class="form-group">
                          <label>Confirm Password</label>
                          <input type='password' class="form-control" placeholder="Enter confirm password" v-model="inputs.confirm_password">
                        </div>
                    </div>
                  </div>
                </div>

                <div class="col-12" v-if="!isNew">
                  <div class="card">
                    <div class="card-body">
                        <button class="btn btn-success mr-2" v-on:click="update(userid)">Submit</button>
                        <button class="btn btn-light" v-on:click="cancel">Cancel</button>
                    </div>
                  </div>
                </div>


              </div>
            </div>
        </div>
    </div>
</template>
<script>
import http from '@/utils/http.js'

export default {
    data() {
        return {
            inputs: {
                firstname: '',
                lastname: '',
                address: '',
                postcode: '',
                contact: '',
                email: '',
                username: '',
                password: '',
                confirm_password: '',
            },
            inputerrors: {}
        }
    },
    computed: {
        userid() {
          return this.$route.params.user_id;
        },
        isNew() {
          return this.$route.params.user_id == 'new';
        }
    },

    mounted() {
        if( !this.isNew ) { this.show(this.userid); }
    },

    methods: {

        show(userid) {
          let _s = this;
            http.get('/api/user/' + userid).then(data => {
                _s.inputs = data.data;
            });
        },
        cancel() {
            this.$router.push({name: 'Usermgmt'});
        },

        submit() {
          let _s = this;
            _s.inputerrors = {};
            http.post('/api/user', {...this.inputs}).then(data => {
                if (data.data.hasOwnProperty('success')) {
                    _s.$router.push({name: 'Usermgmt'});
                }
            }).catch(e => {
              _s.inputerrors = e.response.data;
            });
        },

        update(userid) {
          let _s = this;
            http.put('/api/user/' + userid, {...this.inputs}).then(data => {
                if (data.data.hasOwnProperty('success')) {
                    _s.$router.push({name: 'Usermgmt'});
                }
            }).catch(e => {
              _s.inputerrors = e.response.data;
            });
        }
    }
}
</script>
