<template>
     <component v-if="layout" :is="layout"></component>
</template>

<script>
import blank from './components/layouts/staradmin/blank.vue'
import admin from './components/layouts/staradmin/layout.vue'

export default {
  data () {
    return {
      layout: this.$route.name=='Login'? blank: admin
    }
  },

  watch: {
    $route(route) {
      if(route.name != 'Login') {
        this.layout = admin; return;
      }

      this.layout = blank;
    }
  }

}
</script>