<template>

      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="../images/faces-clipart/pic-1.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Administrator</p>
                  <div>
                    <small class="designation text-muted">Manager</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to='Usermgmt'>
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">User Management</span>
            </router-link>
          </li>
        </ul>
      </nav>
</template>

<script>
export default {
  name: 'partials-sidebar'
}
</script>

